.widgets {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  height: 50px;
  margin: 20px auto;
}

.logo img {
  width: 100%;
  height: 100%;
}

hr {
  width: 75%;
  color: '#fff';
  background-color: '#fff';
  height: .5;
  border-color : '#fff';
  margin: 0 auto;
}

.current-date {
  width: 75%;
  height: 200px;
  background-color: rgb(25, 120, 228);
  margin-bottom: 20px;
  padding-top: 15px;
}

.clock-container {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.day {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
}

.react-clock__face {
  border: 1px solid #fff;
}

.react-clock__hand__body {
  background-color: #fff;
}

.react-clock__mark__body {
  background-color: #fff;
}

.react-clock__second-hand__body {
  background-color: red;
}

.weather-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

#id4bf8fb25f60c9 {
  width: 100%;
}
